{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="background-color: #C9C9C9">
    <h1>Редактирование смены</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Обновить" />
    {{ form_end(edit_form) }}

    <br>
    <a class="btn btn-success" href="{{ path('workingshift_index') }}">Назад к списку</a>
</div>
{% endblock %}
